

	section.municipality {

		margin-top: 75px;
		border-top: 2px solid black;
		padding-top: 25px;

		&:first-of-type {
			margin-top: 30px;
		}


		h2.municipal-name {
			font-family: 'Whitman Display', Cambria, Georgia, serif;
			font-style: normal;
			font-weight: bold;
			font-size: 38px;
			line-height: 1;
			margin-bottom: 36px;
		}
	}

	.app-footer {
		font-family: Benton Sans,Helvetica,Arial,sans-serif;
		font-size: 15px!important;
		max-width: 650px;
		margin: 40px auto;

		p {
			margin-bottom: 20px !important;
		}

	}






@media screen and (min-width: $tablet) {

		section.municipality {

			.table-container {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 0 5%;

				article {
					flex: 0 0 47.5%;
				}
			}
		}
}