.results-module {

    margin-bottom: 50px;

    header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 5px;

        h3.race-name {
            font-family: Benton Sans, Helvetica, Arial, sans-serif;
            font-weight: 700;
            font-size: 18px;
            line-height: 1.3;
            margin: 0;
        }

        .seats-open {
            line-height: 1;
            font-size: 14px;
        }
    }



    .results-table {
        width: 100%;
        font-family: 'Benton Sans', Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-align: right;

        border-collapse: collapse;
        border-spacing: 0;
        font-variant-numeric: tabular-nums;


        thead {
            th {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: normal;
                color: #080808;
                border-bottom: 3px solid #eaeaea;
                line-height: 1.2;
                padding: 4px 0px;
                vertical-align: bottom;
                height: 40px;
            }
        }

        tbody {
            font-size: 15px;

            tr {
                border-bottom: 1px solid #E0E0E0;
                position: relative;

                td {
                    padding: 6px 0px;
                    vertical-align: middle;

                    span {
                        display: none;
                    }
                }
            }
        }

        .check-container {
            width: 0;
        }

        .cand {
            text-align: left;
            padding-left: 0;
        }

        .votes {
            width: 70px;
        }

        .pct {
            width: 50px;
        }

        .choice {
            width: 60px;
        }

        td.cand {
            line-height: 1.3;
        }
    
    }

    button.expand {
        border: none;
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        position: relative;
        top: -2px;
    }

    //let's move this into global styles for timer
    .interface {
        font-family:'Benton Sans',Helvetica,sans-serif;
        font-style: normal;
        font-weight:normal;
        color: #444;

        &.precincts-reporting{
            font-style: italic;
            font-size: 12px !important;
            margin-top: 6px !important;
            color: #707273;

        }

    }
}


@media screen and (min-width: $tablet) {
    .results-module {
        .results-table {
            tbody tr td span {
                display: inline-block;
                font-size: 11px;
                color: #797D7F;
                padding-left: 3px;
            }
        }
    }
}