.results-module {

    margin-bottom: 42px;

    header {
        margin-bottom: 12px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        height: 71px;

        .info {

            width: 70%;
 

            h3.race-name {
                font-family: Benton Sans, Helvetica, Arial, sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.3;
                margin: 0;
            }
    
            .seats-open {
                line-height: 1;
                font-size: 14px;
            }
        }

        .mini-map {
            width: 75px
        }
    }

    .results-table {
        width: 100%;
        font-family: 'Benton Sans', Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-align: right;

        border-collapse: collapse;
        border-spacing: 0;
        font-variant-numeric: tabular-nums;


        thead {
            th {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: normal;
                color: #080808;
                border-bottom: 3px solid #eaeaea;
                line-height: 1.2;
                padding: 4px 0px;
                vertical-align: bottom;
                margin-bottom: 5px;
                // height: 40px;
            }
        }

        tbody {
            font-size: 14px;
            line-height: 1.25;

            tr {
                border-bottom: 1px solid #E0E0E0;
                position: relative;

                &.winner {
                    background-color: #f0f0f0;

                    .cand {
                        font-weight: bold;
                    }

                    .check-container {
                        padding-left: 5px;
                        padding-right: 5px;
                        width: 25px;
                    }
                }

                td {
                    padding: 6px 0px;
                    vertical-align: middle;

                    span.count {
                        display: none;
                    }
                }
            }
        }

        .check-container {
            width: 0;
        }

        .cand {
            text-align: left;
            padding-left: 0;
        }

        .votes {
            width: 70px;
        }

        .pct {
            width: 65px;
            padding-right: 5px;
        }

        .choice {
            width: 62px;
        }

        td.cand {
            line-height: 1.3;
        }

    }

    button.expand {
        border: none;
        margin: 0;
        width: 100%;
        text-align: left;
        padding: 5px;
        font-size: 13px;
        font-weight: bold;
        position: relative;
        top: -2px;
        background-color: #efefef;
    }

    //let's move this into global styles for timer
    .interface {
        font-family: 'Benton Sans', Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #444;

        &.precincts-reporting {
            font-style: italic;
            font-size: 12px !important;
            margin-top: 6px !important;
            color: #707273;

        }

    }
}


@media screen and (min-width: $tablet) {
    .results-module {

        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            //may need to set this manually elsewhere
            // height: 50px;

            .mini-map {
                width: 16%;
            }
        }

        .results-table {

            thead th {
                margin-bottom: 0;
                height: 40px;
            }


        }
    }
}

@media screen and (min-width: $desktop-sm) {
    .results-module {

        header h3.race-name {
            width: auto;
        }

        .results-table {
            .choice {
                width: 80px;
            }

            tbody tr td.choice {

                padding-left: 10px;

                >div {
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: space-evenly;
                }

                span {
                    display: inline-block;
                    width: auto;

           
                    &.pct {
                        padding: 0;
                    }

                    &.count {
                        padding: 0;
                        font-size: 11px;
                        color: #797D7F;
                        padding-left: 2px;
                    }
                }
            }
        }
    }

}