#proj-container {
    position: relative;

    .timer {
        top: 0;
        position: sticky;
        background-color: white;
        padding: 10px 0;
        z-index: 2;
        text-align: center;
        padding: 10px 0px;
        border-bottom: 1px solid #e0e0e0;
        text-transform: uppercase;
        font-family: 'Benton Sans',Helvetica,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        letter-spacing: .5px;

        p {
            margin-bottom: 0;
        }

        .live2 {
            font-weight: 700;
            color: #c0392b;
            margin-bottom: 5px !important;
        }

        .blink {
            padding-right: 5px;
            animation: blinker 2s linear infinite;
          }
        

        
    }
}

@keyframes blinker {  
    50% { opacity: 0; }
  }